@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

#root {
  height: 1000px;
}

.App {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'CafeOhsquareAir';
  src: url('./assets/fonts/Cafe24OhsquareAir-v2.0.woff') format('woff');
}

:root {
  --font-CafeOhsquareAir: 'CafeOhsquareAir';
}
